<div class="row mb-4">

  <div class="col-md-4 mb-3">
    <div class="card income-card">

      <div class="card-body text-center">

        <h5>Total Income</h5>

        <h2>
          ₹{{ totalIncome }}
        </h2>

      </div>

    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card expense-card">

      <div class="card-body text-center">

        <h5>Total Expense</h5>

        <h2>
          ₹{{ totalExpense }}
        </h2>

      </div>

    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card balance-card">

      <div class="card-body text-center">

        <h5>Balance</h5>

        <h2>
          ₹{{ balance }}
        </h2>

      </div>

    </div>
  </div>

</div>